@charset "utf-8";
@import "../node_modules/bulma/sass/utilities/initial-variables";

$family-sans-serif: 'Cabin', sans-serif;
$footer-background-color: rgba(221,208,198,.5);
$background: #e9e1da;
$footer-padding: 3rem 1.5rem 3rem;

$title-size: $size-1;
$subtitle-size: $size-5;

/*! bulma.io v0.8.1 | MIT License | github.com/jgthms/bulma */
@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/elements/_all";
/*@import "../node_modules/bulma/sass/form/_all";*/
@import "../node_modules/bulma/sass/components/_all";
@import "../node_modules/bulma/sass/grid/_all";
@import "../node_modules/bulma/sass/layout/_all";

//todo disable bulma form
@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i&display=swap');
@import "vueformulate_bulma.scss";

.footer-credits {
	font-size: 14px;
}

.site-title {
	@include until($desktop) {
		font-size: 2rem;
	}
}

.site-title-separator {
	@include mobile {
		display: none;
	}
}

.site-title .sitename::after {
	@include mobile {
		content: "\A";
		white-space: pre;
	}
}

.site-subtitle {
	@include until($desktop) {
		font-size: 1.2rem;
	}
	@include mobile {
		font-size: 1rem;
	}
}

.sitename {
	color: red;
}

.main {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.section {
	flex: 1;
}

.offset_inlinecolumn {
	@include from($tablet) {
		margin-top:24px;
		margin-left:20px;
	}
}

.largeoffset {
	@include from($tablet) {
		margin-top:34px;
	}
}

.offset_inlinecolumn-column {
	@include until($tablet) {
		padding-top:0;
	}
}

.results-heading {
	background-color: black;
	color: white;
	text-align: right;
}
.result-title {
	font-style: italic;
	text-align: right;
}
.result-value {
	color: white;
	text-align: right;
}
.result-item-title {
	display: block;
	text-align: right;
}
.result-item-desc {
	clear: both;
	display: none;
}
.result-item-value {
	text-align: right;
}
.result-item-value-column {
	@include from($tablet) {
		border-bottom: 1px solid black;
	}
}
.title.result-item-title {
	@include until($desktop) {
		font-size: 1.2rem;
	}
}
.title.result-value, .title.result-title {
	font-size: 1.8rem;
	@include until($desktop) {
		font-size: 1.5rem;
	}
	@include mobile {
		font-size: 1.3rem;
	}
}
.result-columns {
	@include mobile {
		border-bottom: 1px solid black;
	}
}